.red{
  border: #D22730 solid 2px;
  background-color: #d22730;
  color: white;
  &:hover{
    color: #f3f3f3 !important;
    border: #aa111d solid 2px !important;
    background-color: #aa111d !important;
  }
}